#app {}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgb(236, 0, 0);
  }

  70% {
    box-shadow: 0 0 5px 25px rgba(255, 82, 82, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

a {
  text-decoration: none;
  transition: 0.4s;
}
